@charset "utf-8";

.simple_banner_wrap {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 100px;
}

.simple_banner_wrap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.simple_banner_wrap ul li {
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.simple_banner_wrap .nav_wrap {
    position: absolute;
    bottom: 10px;
    height: 10px;
    z-index: 2;
}

.simple_banner_wrap .nav_wrap ul {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.simple_banner_wrap .nav_wrap ul li {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0 1px;
    cursor: pointer;
}

.simple_banner_wrap .nav_wrap.numeral {
    height: 14px;
    line-height: 14px;
}

.simple_banner_wrap .nav_wrap.numeral ul li {
    font-size: 12px;
    width: 14px;
    height: 14px;
    text-align: center;
    text-shadow: 1px 1px 0px #CCC;
}

.simple_banner_wrap .nav_wrap.numeral ul li.on {
    text-decoration: underline;
    font-weight: bold;
}

.simple_banner_wrap .nav_wrap.bullet {
    height: 10px;
    line-height: 10px;
}

.simple_banner_wrap .nav_wrap.bullet ul li {
    font-size: 10px;
    text-indent: -1000px;
    border-radius: 5px;
    background-color: #F96;
    box-shadow: inset 0 0 0 1px #FFF;
}

.simple_banner_wrap .nav_wrap.bullet ul li.on {
    box-shadow: inset 0 0 0 1px #F96;
    background-color: #FFF;
}

.simple_banner_wrap .nav_wrap.prev_next {
    height: 14px;
    line-height: 14px;
    text-shadow: 1px 1px 0px #CCC;
}

.simple_banner_wrap .nav_wrap.prev_next ul li{ font-size:12px; width:14px; height:14px; font-weight:bold; text-align:center; }